body {
    font-family: Arial, sans-serif;
    background-color: #cfcdcd;
    color: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #06294D;
    box-shadow: 1px 1px 2px #417749;
    z-index: 1000;
}

.site-logo {
    padding: .25rem;
    margin-right: 50px;
}

.site-logo .logo-link {
    font-weight: 500;
    font-size: 26px;
    line-height: 22px;
    text-transform: capitalize;
    color: #fff;
    border-top: 3px solid #417749;
}

.navigation {
    list-style: none;
    display: flex;
    gap: 1.4rem;
    margin-right: 50px;
}

.navigation .link a {
    padding: .25rem .5rem;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-top: 1px solid transparent;
    transition: all .6s;
}

.navigation .link:hover a {
    color: #417749;
    border-top: 1px solid #417749;
}

.destination,
.date,
.passengers {
    color: #ffffff;
    font-size: 22px;
}

.info {
    display: flex;
    align-items: center;
    margin-left: 150px;
    line-height: 22px;
    height: 130px;
}

.info>div {
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* Added margin-right for spacing */
}

.separator {
    color: #fff;
}

#flight-list {
    margin-top: 150px;
}

.flight-item {
    margin-bottom: 60px;
}

.boarding-pass {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boarding-pass:hover {
    transform: translateY(-5px);
}

.passenger-info {
    flex: 1;
}

.prices {
    display: flex;
    flex-direction: row;
}

.price {
    margin-bottom: 5px;
}

.price-economy,
.price-business,
.price-first {
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ticket-price {
    font-size: 36px;
}

.price-economy {
    background-color: #417749;
    font-size: 20px;
}

.price-business {
    background-color: #38673f;
    font-size: 20px;
}

.price-first {
    background-color: #224127;
    font-size: 20px;
}

.price-economy:hover,
.price-business:hover,
.price-first:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}
