body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    /* Dark blue background */
    color: #fff;
    /* White text color */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h2 {
    color: #fff;
    /* White heading text color */
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
}

.destination {
    color: #b4b4b4;
    /* White heading text color */
    font-size: 36px;
    text-align: center;
}

.date {
    color: #b4b4b4;
    font-size: 24px;
    text-align: left;
}

p {
    margin-bottom: 5px;
}

#info {
    margin-bottom: 20px;
}

#flight-list {
    /* Removed display: grid; */
}

.flight-item {
    margin-bottom: 20px;
}

.boarding-pass {
    background-color: #222;
    /* Dark gray background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Increased shadow intensity */
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Align content to the ends */
}

.boarding-pass:hover {
    transform: translateY(-5px);
}

.passenger-info {
    flex: 1;
}

.prices {
    display: flex;
    flex-direction: row;
}

.price {
    margin-bottom: 5px;
}

.price-economy,
.price-business,
.price-first {
    color: #fff;
    /* White text color */
    border-radius: 10px;
    padding: 20px;
    height: 150px;
    /* Set a larger fixed height for all price boxes */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Increased shadow intensity */
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* Added animation for transform and background-color */
    display: flex;
    flex-direction: column;
    /* Display flex items vertically */
    align-items: center;
    /* Center content horizontally */
    justify-content: center;
    /* Center content vertically */
}

.ticket-price {
    font-size: 36px;
}


.price-economy {
    background-color: #2f9ee7cc;
    font-size: 20px;
    /* Main blue color */
}

.price-business {
    background-color: #1e7cbbcc;
    /* Red color for business */
    font-size: 20px;
}

.price-first {
    background-color: #114a70cc;
    /* Dark gray color for first class */
    font-size: 20px;
}

/* Added hover effect for price boxes */
.price-economy:hover,
.price-business:hover,
.price-first:hover {
    transform: scale(1.05);
    /* Scale up the box on hover */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    /* Increase shadow intensity on hover */
}
