:root {
    --primary-color: #417749;
    --main-color: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Veranda', sans-serif;
    text-decoration: none;

}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
    font-family: Verdana, sans-serif;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #06294D;
    box-shadow: 1px 1px 2px #417749;
}

.content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.6rem 1rem;
}

.nav-bar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-bar .site-logo {
    padding: .25rem;
}

.nav-bar .site-logo .logo-link {
    font-weight: 500;
    font-size: 26px;
    /* Adjusted from 22px */
    line-height: 22px;
    text-transform: capitalize;
    color: #fff;
    border-top: 3px solid #417749;
}

.nav-bar .navigation {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.nav-bar .navigation .link a {
    padding: .25rem .5rem;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-top: 1px solid transparent;
    transition: all .6s;
}

.nav-bar .navigation .link:hover a {
    color: #417749;
    border-top: 1px solid #417749;
}


.btn-explore {
    width: fit-content;
    background-color: #417749;
    padding: .9rem 2.4rem;
    padding-left: 1rem;
    font-size: 16px;
    line-height: 16px;
    color: #06294D;
    border: 2px solid #417749;
    margin-top: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 1s;
    text-transform: uppercase;
}

.btn-explore:hover {
    border: 2px solid #2c5032;
    background-color: #2a4a2f;
    padding-left: 2rem;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

section .content {
    width: 100%;
    max-width: 1300px;
}

section .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

section .heading .title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #fff;
}

section .heading .subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #00040b;
}

.about .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    width: 100%;
}

.about .items .item,
.about .items .image {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about .items .image {
    padding: 2rem;
    padding-left: 0rem;
}

.about .items .image img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.about .item-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about .items .item .about-title {
    font-size: 46px;
    font-weight: 500;
    color: #06294D;
    text-transform: uppercase;
}

.about .items .item .about-desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about .items .item .about-desc p {
    font-size: 16px;
    line-height: 24px;
    color: #000000;

}

.about .item-data {
    width: 100%;
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.about .item-data .col {
    width: 100%;
    padding: 2rem 1rem;
    background-color: #40404044;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 6px solid #000;
    cursor: pointer;
}

.about .item-data .col:hover {
    background-color: #00000077;
    border-top: 6px solid #417749;
}

.about .item-data .col h1 {
    text-align: center;
    font-size: 38px;
    color: #06294D;
}

.about .item-data .col span {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.next {
    background-color: #00040b;
}

.next .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.popular-picks h2 {
    color: #06294D;
    font-size: 46px;
    text-align: center;
    margin-top: -200px;
    text-transform: uppercase;
}

.places button {
    max-width: 100%;
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 120px;
    border: none;
    background-color: #1E1E1E;
    border-radius: 5px;
}

.places button:focus {
    background: radial-gradient(circle at top, #2e90d1cc 0%, #114a70cc 100%);
    outline: none;
}

.places {
    display: flex;
    font-size: 18px;
    justify-content: space-around;
}

.places button.selected {
    background: radial-gradient(circle at top, rgba(153, 255, 140, 1) 0%, rgba(67, 217, 172, 1) 100%);
    color: rgb(255, 255, 255);
}

.places button.selected:hover {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(29, 30, 76, 0.1);
}

.images {
    display: flex;
    justify-content: right;
    z-index: -2;
    position: relative;
}

.popular-picks img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    position: relative;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.overlay {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 24px;
}

.city,
.country {
    font-size: 36px;
    position: relative;
    z-index: 3;
}

.country {
    color: #000000cf;
}

.container img {
    position: relative;
    z-index: 1;
}

.container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 2;
}

.intro.hidden {
    display: none;
}

.contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background: linear-gradient(#505050cc, #114a70cc);
    border: 2px solid rgb(34, 30, 61);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form h2 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label,
.input-box textarea:focus~label,
.input-box textarea:valid~label {
    top: -5px;
}

.input-box input,
.input-box textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    line-height: 57px;
}

.btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #203522;
    transition: .5s;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.header__content {
    color: var(--white);
    margin: 50px;
    text-align: left;
    font-size: 36px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: flex;
}

#info {
    display: inline-block;
}

h2 {
    text-align: center;
}

.header__container {
    padding: 1rem 1rem 5rem 1rem;
}

.header__image__container {
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(to right, rgba(44, 56, 85, 0.9),
            rgba(100, 125, 187, 0.1)),
        url("images/book.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.tab__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.tab__item {
    cursor: pointer;
    font-weight: 600;
    color: var(--text-dark);
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.tab__item.active {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: #ffffff;
}

.booking_container {
    color: var(--text-dark);
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);

}

.booking_container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booking_container .btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: .3s;
}

.booking_container .btn:hover {
    background-color: #60b56c;
}

.form-group {
    margin-bottom: 2rem;
    display: inline-block;
}

.input__group {
    position: relative;
    width: 80%;
    padding: 0.5rem;
}

.input__group input {
    width: 80%;
    padding: .28rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #417749;
    background-color: transparent;
    transition: border-color 0.3s ease, transform 0.3s ease;
    color: #333;
}

.input__group input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scaleX(1.1);
}

.input__group label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    color: #888;
    transform: translateY(2rem);
    transition: transform 0.3s ease, color 0.3s ease;
    pointer-events: none;
}

.input__group input:focus+label,
.input__group input:not(:placeholder-shown)+label {
    transform: translateY(-1.5rem);
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
}

.input__group input::placeholder {
    color: transparent;
    transition: color 0.3s ease;
}

.input__group input:focus::placeholder,
.input__group input:not(:placeholder-shown)::placeholder {
    color: #999;
}

footer {
    background-color: #06294D;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.footer-section {
    margin: 0 50px;
    /* Adjust margin as needed */
    height: 300px;
    /* Adjust height as needed */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section p {
    font-weight: 300;
    font-size: 46px;
    margin-bottom: 10px;
    /* Adjust as needed */
    color: #417749;
}

.footer-section pre {
    white-space: pre-wrap;
    /* Allow wrapping within <pre> element */
    font-size: 16px;
    /* Adjust as needed */
    color: #fff;
    /* Adjust color as needed */
}
